@use 'variables.scss' as v;

.footer {
  padding: 3rem 0;
  background-color: rgba(0, 0, 0, 0.7);
  margin-top: 5rem;

  p {
    text-align: center;
    font-size: 1.1rem;
    font-weight: 700;
    color: v.$light-wheat;
  }
}