@use '../base/variables' as v;

.gallery {
  background-color: rgba(0, 0, 0, .7);
  text-align: center;
  font-size: 1.1rem;
  padding: 1.5rem;
  border-radius: 30px;
  margin-bottom: 9rem;

  h2 {
    font-size: 3rem;
  }

  h2,
  p {
    margin: 0.5rem;
    color: v.$white;
  }
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-top: 15px;

  img {
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
  }
}

.zoom {
  transition: transform 0.2s ease;

  &:hover {
    transform: scale(1.1);
  }
}