@use 'variables.scss' as v;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  // border-radius: 50px;
  // margin: 0.5rem;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;

  .logo {
    filter: invert(100%);
    width: 2rem;
    margin: 1rem;
    transition: transform 0.5s ease;

    &:hover {
      transform: scale(1.1);
    }
  }
}

.nav {
  a {
    color: v.$white;
    font-weight: 700;
    margin: 1rem;
    transition: color 0.4s ease-out;


    &:hover {
      color: v.$wheat;
    }
  }
}