@use 'variables.scss' as v;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;

  .logo {
    filter: invert(100%);
    width: 2rem;
    margin: 1rem;
    transition: transform 0.5s ease;

    &:hover {
      transform: scale(1.1);
    }
  }

  .menu {
    display: none;
    width: 40px;
  }
}

.nav {
  a {
    color: v.$white;
    font-weight: 700;
    margin: 1rem;
    transition: color 0.4s ease-out;

    &:hover {
      color: v.$wheat;
    }
  }
}