@use 'variables.scss' as v;

.hero {
  background-image: url('/build/assets/images/background.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 50rem;
  margin-bottom: 5rem;
  box-shadow: 0rem 0.1rem 5rem #000000;
}

.hero-shadow {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
  color: v.$light-wheat;
  width: 100%;
  height: 100%;
  
  h2 {
    font-weight: 900;
    font-size: 4rem;
  }

  p {
    font-size: 1.2rem;
    font-weight: 700;
    text-decoration: line-through 5px;
  }
}