@media only screen and (width <=992px) {
  .container {
    width: 90%;
  }

  .gallery {
    padding: 1rem;
  }

  .gallery-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .overlay img {
    width: 100%;
  }

  .form {
    width: min(30rem, 100%);
  }
}

@media only screen and (width <=576px) {
  .header {
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.1);

    div {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 90%;
    }

    .logo {
      width: 3rem;
    }

    .menu {
      display: flex;
    }
  }

  .nav {
    display: none;

    &.show {
      display: flex;
      flex-direction: column;
    }

    a {
      text-align: center;
      margin: 10px;
    }
  }

  .container {
    width: 90%;
  }

  .gallery {
    padding: 1rem;
  }

  .gallery-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
  }

  .form {
    padding: 1.5rem;
  }

  .input-text {
    padding: 1rem;
  }
}