@media only screen and (width <=992px) {
  body {
    background-attachment: scroll;
  }

  .container {
    width: 90%;
  }

  .gallery {
    padding: 1rem;
  }

  .gallery-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .overlay img {
    width: 100%;
  }

  .form {
    width: min(30rem,100%);
  }
}

@media only screen and (width <=576px) {
  .header {
    flex-direction: column;

    h1 {
      margin: 10px;
    }
  }

  .nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 10px;

    a {
      margin: 10px;
    }
  }

  .container {
    width: 90%;
  }

  .gallery {
    padding: 1rem;
  }

  .gallery-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
  }

  .form {
    padding: 1.5rem;
  }

  .input-text {
    padding: 1rem;
  }

  .footer {
    p {
      font-size: 1rem;
    }
  }
}