@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

:root {
  --white: #ffffff;
  --wheat: #f5deb3;
  --light-wheat: #ffe8be;
  --dark-wheat: #a79777;
}

$wheat: #f5deb3;
$light-wheat: #ffe8be;
$dark-wheat: #a79777;

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
}

body {
  height: 100vh;
  width: 100%;
  background-image: url(../build/images/background.webp);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
  color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50px;
  margin: 0.3rem;

  h1 {
    color: $wheat;
    font-weight: 900;
    margin: 1rem;
    cursor: pointer;
    animation: logo ease-in 1s infinite alternate;
  }
}

@keyframes logo {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.1);
  }
}

.nav {
  a {
    color: white;
    font-weight: 700;
    margin: 1rem;
    cursor: pointer;

    &:hover {
      color: $wheat;
      transition: 0.2s ease-out;
    }
  }
}

.container {
  width: 60%;
  margin: 0 auto;
}

.hero {
  position: relative;
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  margin: 9rem 0;

  h2 {
    font-weight: 900;
    font-size: 4rem;
  }

  p {
    font-size: 1.2rem;
  }
}

.gallery {
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  font-size: 1.1rem;
  padding: 1.5rem;
  border-radius: 30px;
  margin-bottom: 9rem;

  h2 {
    font-size: 3rem;
  }

  h2,
  p {
    margin: 0.5rem;
    color: white;
  }
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-top: 15px;

  img {
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
  }
}

.zoom {
  transition: transform 0.2s ease;

  &:hover {
    transform: scale(1.1);
  }
}

.contact {
  h2 {
    text-align: center;
    font-size: 2.5rem;
    color: white;
    margin-bottom: 1rem;
  }
}

.form {
  background-color: rgba(0, 0, 0, 0.7);
  width: min(40rem, 100%);
  margin: 0 auto;
  padding: 2rem;
  border-radius: 1rem;
}

.field {
  margin-bottom: 1rem;

  textarea {
    height: 12rem;
  }

  label {
    color: white;
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
  }
}

.input-text {
  width: 100%;
  border: none;
  padding: 1.3rem;
  border-radius: 0.5rem;
  font-family: inherit;
  font-size: 100%;
}

.buttom {
  background-color: $dark-wheat;
  color: white;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 0.5rem;
  border: none;
  line-height: 1;
  cursor: pointer;

  &:hover {
    transition: 0.3s ease;
    background-color: #bea674;
  }
}

.align {
  display: flex;
  justify-content: center;
}

.footer {
  padding: 4rem 0;
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: 5rem;

  p {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 900;
    color: $light-wheat;
  }
}

@media only screen and (width <=992px) {
  .container {
    width: 90%;
  }

  .gallery {
    padding: 1rem;
  }

  .gallery-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (width <=576px) {
  .header {
    flex-direction: column;
  }

  .nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 10px;

    a {
      margin: 5px;
    }
  }

  .container {
    width: 90%;
  }

  .gallery {
    padding: 1rem;
  }

  .gallery-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
  }

  .form {
    padding: 1.5rem;
  }

  .footer {
    p {
      font-size: 1.1rem;
    }
  }
}